<mat-toolbar color="primary" *ngIf="user$ | async as user">
  <mat-toolbar-row>
    <a routerLink="products" class="site-heading">NGRX</a>
    <span class="example-spacer"></span>
    <button *ngIf="user.username" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below">
      <a mat-menu-item routerLink="user/logoff">
        <mat-icon>power_settings_new</mat-icon>
        <span>Sign Off</span>
      </a>
    </mat-menu>
    <!-- <mat-icon class="example-icon">delete</mat-icon> -->
    <a *ngIf="!user.username" mat-raised-button color="accent" routerLink="user/login">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
